<h1>
    <small>Administracion de Usuarios</small> </h1>
<hr>


<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger" routerLink="/usuarios">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
    </div>
</div>



<div class="row animated fadeIn faster">
    <div class="col">

        <form (ngSubmit)="guardar( f )" #f="ngForm">

            <div class="form-group">
                <label>Id</label>
                <input type="number" class="form-control" placeholder="ID" [(ngModel)]="usuario.id" name="id">
                <small class="form-text text-muted">..</small>
            </div>


            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre usuario" [(ngModel)]="usuario.name" name="nombre" required>
            </div>

            <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" [(ngModel)]="usuario.phone" name="phone" placeholder="Phone">
            </div>



            <hr>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          Guardar
        </button>
            </div>


        </form>


    </div>
</div>